.projects {
  padding: 2rem clamp(2rem, 7vmin, 7rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-bottom: 4rem;
}

.projects__header {
  text-align: center;
  font-size: clamp(2rem, 7vmin, 3rem);
  line-height: 1.2;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projects__card__content {
  background: linear-gradient(transparent, black);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25rem;
  width: 100%;
  height: 40%;

  padding: 1.25rem;

  color: white;
}

.projects__card__content h3 {
  font-weight: 500;
  line-height: 1.3;
}

.projects__card__content p {
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1.6;
}

.projects__card__links {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-left: 0.5rem;
}

.projects__card__liveLink {
  color: inherit;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.projects__card {
  /* width: 300px; */
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  border: 3px solid aquamarine;

  display: flex;
  align-items: flex-end;
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.projects__card:nth-child(1) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card:nth-child(2) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card:nth-child(3) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card:nth-child(4) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card:nth-child(5) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__card:nth-child(6) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__card:nth-child(7) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projects__card:nth-child(8) {
  background: url(../../assets/Zelda.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card:hover {
  scale: 1.05;
}

.projects__circle__one {
  position: absolute;
  right: 0;
  bottom: 20%;
  width: 35rem;
  height: 35rem;
}

.projects__circle__two {
  position: absolute;
  left: -15rem;
  top: -20rem;
  width: 30rem;
  height: 30rem;
}
