.home {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 4vmin, 4em);
  gap: 1.25rem;
  font-family: "Quicksand", sans-serif;
}

.home__header {
  font-size: clamp(2rem, 8vmin, 5rem);
  font-weight: 600;
  line-height: 1.2;
}

.home__subheader {
  font-size: clamp(1.5rem, 8vmin, 2rem);
  font-weight: 700;
  line-height: 1.2;
}

.home__text {
  font-size: clamp(1rem, 8vmin, 1.25rem);
  font-weight: 400;
  line-height: 1.7;
}

.home__button_group {
  display: flex;
  gap: 3rem;
}

.home__button_group .home__button {
  cursor: pointer;
  border: none;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 99rem;

  background-color: aquamarine;

  transition: all 200ms;
  animation: moveInBottom 500ms ease-out;
  animation-fill-mode: backwards;
}

.home__button_group .home__button::after {
  content: "";
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: inline-block;
  border-radius: 99rem;
  background-color: aquamarine;

  transition: all 400ms;
}

.home__button_group .home__button:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.home__button_group .home__button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
}

.home__button_group .home__button a {
  text-decoration: none;
  color: black;
  font-size: clamp(1rem, 3vmin, 1.25rem);
  font-family: "Quicksand", sans-serif;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home__circle__one {
  position: absolute;
  right: -20rem;
  bottom: -20rem;
  width: 50rem;
  height: 50rem;
}

.home__circle__two {
  position: absolute;
  left: -20rem;
  top: -10rem;
  width: 40rem;
  height: 40rem;
}

@media (max-width: 500px) {
  .home__button_group {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .home__circle__one {
    width: 35rem;
    height: 35rem;
  }

  .home__circle__two {
    width: 30rem;
    height: 30rem;
  }
}
