.about {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  position: relative;
  margin-bottom: 4rem;
}

.about__me {
  min-height: 900px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.about__content {
  grid-row: 8 / 21;
  grid-column: 4 / 21;
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  z-index: 10;

  padding: 2rem;

  background-color: white;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.about__image {
  grid-row: 1 / 21;
  grid-column: 1 / 21;

  object-fit: cover;
  height: 425px;
  aspect-ratio: 2 / 3;
  border-radius: 1rem;
}

.about__header {
  font-size: clamp(2rem, 7vmin, 3rem);
  line-height: 1.2;
}

.about__text {
  font-size: clamp(0.75rem, 7vmin, 1rem);
  line-height: 1.5;
  font-weight: 400;
}

.about__circle__one {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  width: 25rem;
  height: 25rem;
}

.about__circle__two {
  position: absolute;
  left: -15rem;
  top: 0rem;
  width: 30rem;
  height: 30rem;
}

@media (min-width: 480px) {
  .about__me {
    min-height: 100vh;
  }

  .about__image {
    grid-row: 2 / 21;
    grid-column: 2 / 21;

    height: 450px;
  }

  .about__content {
    grid-row: 9 / 20;
    grid-column: 5 / 20;
  }
}

@media (min-width: 700px) {
  .about__image {
    height: 500px;
  }

  .about__content {
    grid-row: 10 / 19;
    grid-column: 7 / 19;
  }

  .about__circle__one {
    width: 35rem;
    height: 35rem;
  }

  
}

@media (min-width: 1000px) {
  .about__image {
    grid-row: 3 / 21;
    grid-column: 3 / 21;

    height: 550px;
  }

  .about__content {
    grid-row: 10 / 18;
    grid-column: 7 / 18;
  }

  .about__circle__two {
    width: 40rem;
    height: 40rem;
  }
}

@media (min-width: 1400px) {
  .about__image {
    grid-row: 4 / 21;
    grid-column: 6 / 21;
  }

  .about__content {
    grid-row: 11 / 19;
    grid-column: 9 / 18;
  }
}
