.contact {
  min-height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.contact__header {
  font-size: clamp(2rem, 7vmin, 3rem);
  line-height: 1.2;
  text-align: center;
}

.contact__form {
  grid-row: 2 / 14;
  grid-column: 3 / 20;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  box-shadow: 0 1rem 10rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.about__info__container {
  grid-row: 13 / 20;
  grid-column: 2 / 19;

  background-color: var(--color-primary-3);
  color: var(--color-dark);
  padding: 2.5rem 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
}

.contact__form__input {
  font-family: inherit;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  resize: none;
  width: 100%;
}

@media (min-width: 480px) {
  .contact__form {
    grid-row: 3 / 14;
    grid-column: 3 / 20;
  }

  .about__info__container {
    grid-row: 13 / 19;
    grid-column: 2 / 18;
  }
}

@media (min-width: 700px) {
  .contact__form {
    grid-row: 5 / 14;
    grid-column: 6 / 19;
  }

  .about__info__container {
    grid-row: 13 / 18;
    grid-column: 2 / 13;
  }
}

@media (min-width: 1000px) {
  .contact__form {
    grid-row: 6 / 14;
    grid-column: 6 / 18;
  }

  .about__info__container {
    grid-row: 13 / 18;
    grid-column: 5 / 12;
  }
}

@media (min-width: 1400px) {
  .contact__form {
    grid-row: 6 / 14;
    grid-column: 7 / 16;
  }

  .about__info__container {
    grid-row: 13 / 18;
    grid-column: 6 / 13;
  }
}

.contact__form .button__normal {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.contact__form .button__normal:hover {
  background-color: var(--color-primary-3);
  color: var(--color-dark);
}

.contact__social__links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.contact__circle__one {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 40rem;
  height: 40rem;
  transform: translate(50%, 50%);
}
