.contact {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.contact__header {
  font-size: clamp(2rem, 7vmin, 3rem);
  line-height: 1.2;
  text-align: center;
}

.contact__form {
  grid-row: 2 / 14;
  grid-column: 3 / 20;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;

  display: grid;
  align-items: center;
  box-shadow: 0 1rem 10rem 3rem rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.about__info__container {
  grid-row: 13 / 20;
  grid-column: 2 / 19;

  background-color: black;
  color: white;
  padding: 2.5rem 2rem;
  border-radius: 1rem;

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 1rem 10rem 3rem rgba(127, 255, 212, 0.3);
}

.contact__form__input {
  font-family: inherit;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.75rem;
  resize: none;
}

@media (min-width: 480px) {
  .contact__form {
    grid-row: 3 / 14;
    grid-column: 3 / 20;
  }

  .about__info__container {
    grid-row: 13 / 19;
    grid-column: 2 / 18;
  }
}

@media (min-width: 700px) {
  .contact__form {
    grid-row: 3 / 14;
    grid-column: 4 / 19;
  }

  .about__info__container {
    grid-row: 13 / 19;
    grid-column: 2 / 13;
  }
}

@media (min-width: 1000px) {
  .contact__form {
    grid-row: 4 / 14;
    grid-column: 6 / 18;
  }

  .about__info__container {
    grid-row: 13 / 19;
    grid-column: 4 / 12;
  }
}

@media (min-width: 1400px) {
  .contact__form {
    grid-row: 4 / 14;
    grid-column: 7 / 16;
  }

  .about__info__container {
    grid-row: 13 / 19;
    grid-column: 6 / 13;
  }
}
