@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

:root {
  --color-primary: #491b40;
  --color-primary-2: #b0617f;
  --color-primary-3: #ef9eba;
  --color-primary-4: #f6cdde;
  --color-secondary: #ddfff7;
  --color-dark: #121212;
  --color-light: #fef9fc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Quicksand", sans-serif;
}

.circle {
  border-radius: 50%;
  z-index: -1;

  background: radial-gradient(
    circle,
    var(--color-primary),
    var(--color-primary-2),
    var(--color-primary-3),
    var(--color-primary-4)
  );
  filter: blur(1rem);
}

.button__normal {
  height: 3rem;
  padding-inline: 1.5rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  border-radius: 99rem;

  background-color: var(--color-light);
  color: var(--color-dark);

  transition: all 300ms ease;
  animation: moveInBottom 500ms ease;
  animation-fill-mode: backwards;
  font-size: clamp(1rem, 3vmin, 1.15rem);
  font-weight: 500;
}

.button__normal::after {
  content: "";
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  display: inline-block;
  border-radius: 99rem;
  background-color: var(--color-primary);

  transition: all 500ms ease;
}

.button__normal:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.button__normal:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary);
  color: var(--color-light);
}

.button__normal:active {
  transform: translateY(3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button__normal a {
  text-decoration: none;
  color: inherit, var(--color-dark);
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 600ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 600ms ease;
}

.icon__hover {
  transition: all 300ms ease;
}

.icon__hover:hover {
  scale: 1.1;
}

.icon__hover:active {
  scale: .9;
}